/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.banner-logo{
		margin-top: 15px;
	}
	.common-title{
		padding-left: 20px;
	}
	.high-content{
		text-align: center;
	}
	.s-background{
		margin-top: 50px;
	}

	.nku-content h4{
		font-size: 16px;
	}
	.nku-content p{
		font-size:12px ;
	}
	.how-to {
		margin-top: 2rem;
		left: 0rem;
	}
	.common-title-2 {
		margin-left: 1rem;
	}
	.common-margin{
		margin-top: 15px;
	}
	.select-custom{
		margin: 5px 0;
	}
	.contact-form{
		padding: 50px 30px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.common-title {
		margin-left: 26px;
	}
	.nku-content h4{
		font-size: 20px;
	}
	.nku-content p{
		font-size:14px ;
	}
	/* sbackground */
	.s-background{
		margin-top: 35px;
	}
	.common-margin3{
		margin-top: 15px;
	}
	.common-marging2{
		margin-top: 24px;
	}
	.contact-form{
		padding: 50px 0;
	}
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
	.nku-content h4{
		font-size: 22px;
	}
	.nku-content p{
		font-size:16px ;
	}


	}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	



}
